.management{
    .row{
        margin: 0 -20px;
        align-content: center;
    }
    .one-thrid{
        float: left;
        min-height: 500px;
        width: 33%;
    }
    .two-thrid{
        float: left;
        min-height: 500px;
        width: 66%;
    }
    .content_table{
        width: 100%;
        table-layout: auto;
        border-collapse: collapse;
    }
    .content_table tbody{
        display:block;
        width: 100%;
        overflow: auto;
        height: 400px;
    }
    .content_table thead tr {
        display: block;
    }
    .content_table thead {
      background: sandybrown;
      color:#000;
    }
    .content_table th, .content_table td {
      padding: 5px;
      text-align: left;
    }
    form{
        height: 300px;
    }
  
}